## Challenge 1: Lists - Slice It!

If `thing` is a list and `low` and `high` are both non-negative integers:

1. What does `thing[low:high]` do?
2. What does `thing[low:]` (without a value after the colon) do?
3. What does `thing[:high]` (without a value before the colon) do?
4. What does `thing[:]` (just a colon) do?
5. How long is the list `thing[low:high]`?

In [8]:
thing = [1, 4, 3, 6, 3, 6, 7]

low = 2
high = 5

print(thing[low:high]) # returns a sublist from index 2-5. excluding index 5
print(thing[low:]) # returns a sublist with every value starting from index 2
print(thing[:high]) # returns a sublist with every value starting from index 0 and up to index 5
print(thing[:]) # returns a sublist with every value in list thing

print(len(thing[low:high]))

[3, 6, 3]
[3, 6, 3, 6, 7]
[1, 4, 3, 6, 3]
[1, 4, 3, 6, 3, 6, 7]
3

## Challenge 2: Lists - Making Strides

What does the following program print?

1. If we write a slice as low:high:stride, what does stride do?

stride lets us know how many elements to skip between index low to high

In [9]:
city = 'Berkeley'
print(city[::2])
print(city[::-1])

Bree
yelekreB

2. What expression would select all of the even-numbered items from a collection?

In [11]:
numbers = list(range(1,51))
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]

In [20]:
even_nums = numbers[1::2]
print(even_nums)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

## Challenge 3: Lists - Append vs. Extend

Using the program below, can you tell the difference between the `append` method and the `extend` method?

no, because you haven't appended or extended to any list, just printing the original lists

In [15]:
pantry_1 = ['bread', 'pasta', 'beans', 'cereal']
pantry_2 = ['bread', 'pasta', 'beans', 'cereal']
new_items = ['granola bars', 'cookies']
print('append does this:', pantry_1)
print('extend does this:', pantry_2)

append does this: ['bread', 'pasta', 'beans', 'cereal']
extend does this: ['bread', 'pasta', 'beans', 'cereal']

## Challenge 4: Lists - Index

I've created a (long) list for you below. Use the `.index()` method to find out what the index number is for `Waldo`

In [17]:
Wheres_Waldo = ["Anna", "Shad", "Rachel", "Maura", "Jason", "Matt", "Konrad", "Justine", "Sarah", "Laura", \
                "Chelsea", "Nina", "Dierdre", "Julian", "Waldo", "Naniette", "Melissa", "Biz", "Elsa", "Demetria",\
                "Liz", "Olivia", "Will", "Ogi", "Melanie", "Jessica"]

In [18]:
Wheres_Waldo.index("Waldo")

14

## Challenge 5:  Lists - join

Read the help file for the `join` method. 

Using the join method, concatenate all the values in this list into one string:

In [22]:
letters = ['s', 'p', 'a', 'm']

In [25]:
word = "".join(letters)
word

'spam'

Now use the `join` method to make one string with all the names from the list `Wheres_Waldo`, which prints each name on a separate line. (HINT: Remember a new line is represented by `\n`

In [27]:
names = "\n".join(Wheres_Waldo)
print(names)

Anna
Shad
Rachel
Maura
Jason
Matt
Konrad
Justine
Sarah
Laura
Chelsea
Nina
Dierdre
Julian
Waldo
Naniette
Melissa
Biz
Elsa
Demetria
Liz
Olivia
Will
Ogi
Melanie
Jessica

Reverse the order of the names:

In [30]:
reversed = Wheres_Waldo[::-1]
reversed_names = "\n".join(reversed)
print(reversed_names)

Jessica
Melanie
Ogi
Will
Olivia
Liz
Demetria
Elsa
Biz
Melissa
Naniette
Waldo
Julian
Dierdre
Nina
Chelsea
Laura
Sarah
Justine
Konrad
Matt
Jason
Maura
Rachel
Shad
Anna

## Challenge 6: Dictionaries - Make your own

Dictionaries can be nested, which means that dictionary keys can contain dictionaries themselves.

1. Create two dictionaries, each representing one of your favorite musical artist. Each dictionary should have the following keys / value-type: `name`: (string) , `genre`: (string), `songs` (list), `age`: (integer)

2. Create an outer dictionary called `musical_artists` that contain the two inner dictionaries.

In [ ]:
## 1. YOUR CODE HERE
artist_1 = {
    "name": "Clairo",
    "genre": "bedroom pop",
    "songs": ["Bags","Pretty Girl"],
    "age": 26
}

artist_2 = {
    "name": "Girl in Red",
    "genre": "bedroom pop",
    "songs": ["Serotonin","Too Much"],
    "age": 26
}

In [ ]:
musical_artist = {
    "artist_1": artist_1,
    "artist_2": artist_2,
}

## Challenge 7: More data structures - Tuple

Tuples are similar to lists and arrays, but they are unchangeable ("immutable"). 

For example, we cannot change the output of 10 (the dividend) divided by 3 (the divisor) - by definition the quotient is 3 and the remainder is 1 this cannot be changed. 

> Although they appear similar to lists, note that tuples use round parentheses `()` to store information instead of square brackets.

In [31]:
my_var = [1,1,1,1,2,2]
my_var

[1, 1, 1, 1, 2, 2]

In [32]:
my_set(my_var)
my_var

NameError: name 'my_set' is not defined

In [33]:
div = divmod(10,3)
print(div)
print(type(div))

(3, 1)
<class 'tuple'>

Figure out another way to define any tuple below:

In [34]:
# Empty tuple
tuple_empty = ()
print(tuple_empty)
print(type(tuple_empty))

()
<class 'tuple'>

In [35]:
# Tuple with floats
tuple_float = (1.12, 2.23, 3.14)
print(tuple_float)
print(type(tuple_float))

(1.12, 2.23, 3.14)
<class 'tuple'>

In [37]:
tuple_float_from_list = tuple([1.12, 2.23, 3.14])
print(tuple_float_from_list)
print(type(tuple_float_from_list))

(1.12, 2.23, 3.14)
<class 'tuple'>

In [36]:
# Complex tuple
tuple_complex = ([1, 3, 12], True, "hello!", (3.14, 3.14, 3.15))
print(tuple_complex)
print(type(tuple_complex))

([1, 3, 12], True, 'hello!', (3.14, 3.14, 3.15))
<class 'tuple'>

How do you think you index or slice a tuple? HINT: You are already familiar with this! Provide one example below.

In [39]:
print(tuple_complex[2])

hello!