## Challenge 1: Making and Printing Variables

1. Make 3 variables: `name` (with your full name), `city` (where you were born) and `year` (when you were born.)
2. Print these three variables so that it prints `[your name] was born in [city] in [year].`

In [7]:
name = "Catherine Wong"
city = "New York"
year = 1988
print(f"{name} was born in {city} in {year} years.")

Catherine Wong was born in New York in 1988 years.

## Challenge 2: Swapping Values

In simple terms, what do the last three lines of this program do?

In [5]:
lowest = 1.0
highest = 3.0
temp = lowest
lowest = highest
highest = temp

In [6]:
print(temp)
print(lowest)
print(highest)

1.0
3.0
1.0

Answer: Values of the lowest and highest variables are swapped.

## Challenge 3: Predicting Values

What is the final value of `position` in the program below?

(Try to predict the value without running the program, then check your prediction.)

In [8]:
initial = "left"
position = initial
initial = "right"

In [9]:
position

'left'

In [10]:
initial

'right'

Prediction:

position: "left",
initial: "right"

## Challenge 4: Syntax

Why does the following code fail? What is it probably supposed to do, and what is it actually doing?

In [11]:
age = 31

when you write age == 31, you are are saying the string age is equal to the number 31. == is a comparison symbol. Also, age, the variable, was never assigned.

And the following?

In [12]:
age = 31

when you write 31 = age, you are creating the variable 31 and assigning age to it, but if you mean age is supposed to be a string then it needs to be wrapped around in quotation marks like "age" or 'age'. If you are trying to assign the number 31 to a variable called age, then it would be age = 31.

wFix the above cells.

## Challenge 5: Making and Casting Variables

1. Make a variable `year` and [assign](https://github.com/dlab-berkeley/python-intensive/blob/master/Glossary.md#assign) it as the year you were born
2. Cast that variable to a float, and assign it to a new variable `year_float`
3. Cast `year_float` to a string, and assign it to a new variable `year_string`
4. Someone in your class says they were born in 1997. Find out what your age difference is, using only `year_string`.

Some of the steps in this challenge might seem redundant or unnecessary, and they are. The idea is just to give you practice with coercing variables, even if it's unlikely you'll ever need to do it so many times in a row.

In [21]:
year = 1988
year_float = float(year)
year_string = str(year_float)

print(year, year_float, year_string)

age_difference = 1997 - int(float(year_string))
print("age difference:", age_difference)

1988 1988.0 1988.0
age difference: 9

## Challenge 6: Division Types

The `//` operator calculates the whole-number result of division, while the '%' operator calculates the remainder from division. Run the cell below to see an example of each.

In [22]:
print('5 // 3:', 5//3)
print('5 % 3:', 5%3)

5 // 3: 1
5 % 3: 2

You are ordering pizza for a campus event.

You have ordered 8 pizzas, with 8 slices each, for a total of 64 slices.

You know that everyone attending will eat exactly 3 slices of pizza. You want to make sure that everyone who comes gets enough pizza, even if that means a slice or two will be left over.

Write an expression that calculates how many students you can satisfactorily feed with 64 slices of pizza, provided that each will eat 3 slices.

In [23]:
64 // 3

21

## Challenge 7: Strings to Numbers

 `float` will convert a string to a floating point number, and `int` will convert a floating point number to an integer:

In [24]:
print("string to float:", float("3.4"))
print("float to int:", int(3.4))

string to float: 3.4
float to int: 3

Given that, what do you expect this program to do? What does it actually do? Why do you think it does that?

In [25]:
print("fractional string to int:", int("3.4"))

ValueError: invalid literal for int() with base 10: '3.4'

I expect it to convert "3.4" into an int, 3. BUT because it is a string that represents a float, you need to convert the string to a float to an int. int can only convert strings that look like whole numbers and not decimals.

In [27]:
print("fractional string to int:", int(float("3.4")))

fractional string to int: 3

## Challenge 8: More data type conversions

More data type conversion practice.

In [29]:
# Define a float, an integer, and a string:
Float = 3.84
Integer = 5
String = "Text"

In [30]:
# Convert Float to integer type. Did any rounding occur here, or did something else happen? 

print(int(Float))

3

It did not round the float, but just truncated the decimal part.

In [35]:
# Convert integer to float

print(float(Integer))

5.0

In [37]:
# Convert integer or float to string

print(str(Float))
print(str(Integer))

3.84
5

## Challenge 9: Arithmetic with Different Types

Which of the following will print 2.0?

Note: there may be more than one right answer.

In [38]:
first = 1.0
second = "1"
third = "1.1"

1. `first + float(second)` <- WILL PRINT 2.0
2. `float(second) + float(third)`
3. `first + int(third)`
4. `first + int(float(third))` <- WILL PRINT 2.0
5. `int(first) + int(float(third))`
6. `2.0 * second`

Does `first == second` ? NO

Change the code below to yield `True` by casting the variable(s).

In [40]:
first == float(int(second))

True

## Challenge 10: Math expressions on different data types

More practice with math expression on different data types.

In [41]:
# You can mix floats and integers, which will always produce a float:
print(Float + Integer)
print(type(Float + Integer))

8.84
<class 'float'>

In [42]:
# What happens when you perform string addition?
print("Oski" + "was" + "born" + "in" + "Berkeley" + ".")

OskiwasborninBerkeley.

it will append each string one after another with no spaces

In [43]:
# If we want spaces in string addition, we should code them.
print("Oski" + " " + "was" + " " + "born" + " " + "in" + " " + "Berkeley" + ".")

Oski was born in Berkeley.

In [44]:
# Can you mix strings and floats/integers?
print("1" + 5)

TypeError: can only concatenate str (not "int") to str

No, we cannot mix types

In [46]:
# How does string addition differ from float/integer addition?
print(1 + 2)
print("1" + "2")

3
12

float/int addition will do the math, so 1+2 = 3. but adding strings will concatenate/append, so it would be "12"

## Challenge 11: More Number Types

Predict the output of the following:

In [60]:
print(8/4)
# float
print(type(8/4))

2.0
<class 'float'>

In [61]:
print(8/5)
# float
print(type(8/5))

1.6
<class 'float'>

In [62]:
print(8*4)
# int
print(type(8*4))

32
<class 'int'>

In [63]:
print(8*4.5)
# float
print(type(8*4.5))

36.0
<class 'float'>

Change the following code to make the output `True`

In [69]:
num1 = 30
num2 = 35.0

type(num1) == type(num2)

print(type(float(num1)) == type(num2))
print(type(num1) == type(int(num2)))

True
True

## Challenge 12: String Syntax

Why does the following code produce an error?

In [75]:
print("Hello World!")

Hello World!

it's missing a clothing parentheses and also lack of consistency, must use a set of " or '.

And this one?

In [76]:
print("I am " + "27" + " years old.")

I am 27 years old.

27 should be a string like this, "27" because we cannot concatenate mixed types

Fix the above cells.

## Challenge 13: Write your name

1. Make two string variables, one with your first name and one with your last name.
2. Concatenate both strings to form your full name and [assign](https://github.com/dlab-berkeley/python-intensive/blob/master/Glossary.md#assign) it to a variable.
3. Assign a new variable that has your full name in all upper case.
4. Slice that string to get your first name again.

In [88]:
first_name, last_name = "Catherine", "Wong"
full_name = f"{first_name} {last_name}"
upper_full_name = full_name.upper()
first_name_sliced = full_name.split()[0]

print(full_name, upper_full_name, first_name_sliced)

Catherine Wong CATHERINE WONG Catherine

## Challenge 14: Try seeing what the following string methods do:

- `split()`
- `join()`
- `replace()`
- `strip()`
- `find()`

In [103]:
print(full_name.split()[0]) #split()

name = ["Catherine", "Wong"]
print(" ".join(name)) # join()

text = "I love dogs"
print(text.replace("dog", "cat")) # replace()

txt = "        there is so much space.         "
print(txt.strip())

print(txt.find("space"))

Catherine
Catherine Wong
I love cats
there is so much space.
25

## Challenge 15: Working with strings

Below is a string of Edgar Allen Poe's "A Dream Within a Dream":

In [105]:
poem = '''Take this kiss upon the brow!
And, in parting from you now,
Thus much let me avow —
You are not wrong, who deem
That my days have been a dream;
Yet if hope has flown away
In a night, or in a day,
In a vision, or in none,
Is it therefore the less gone?  
All that we see or seem
Is but a dream within a dream.

I stand amid the roar
Of a surf-tormented shore,
And I hold within my hand
Grains of the golden sand —
How few! yet how they creep
Through my fingers to the deep,
While I weep — while I weep!
O God! Can I not grasp 
Them with a tighter clasp?
O God! can I not save
One from the pitiless wave?
Is all that we see or seem
But a dream within a dream?'''

What is the difference between `poem.strip("?")` and `poem.replace("?", "")` ?

poem.strip("?") removes very last question mark on line 25. poem.replace("?","") will remove every question mark wherever it appears.

In [108]:
"hello?hello".strip("?")

'hello?hello'

At what index does the word "*and*" first appear? Where does it last appear?

In [109]:
## YOUR CODE HERE
first_and = poem.find("and")
last_and = poem.rfind("and")
print(first_and, last_and)

314 407

How can you answer the above accounting for upper- and lowercase?

In [110]:
## YOUR CODE HERE
# convert poem to all lowercase or ignore case. easier to convert to lowercase

poem_lowercase = poem.lower()
print("First and:", poem_lowercase.find("and"))
print("Last and:", poem_lowercase.rfind("and"))

First and: 30
Last and: 407

## Challenge 16: What Happens When

1. Explain in simple terms the order of operations in the following program:
    when does the addition happen, when does the subtraction happen,
    when is each function called, etc.
2. What is the final value of `radiance`?

1. you're taking the max of two numbers so,it's a function with two params, the first is number 2.1, then you will take the second param and do the math. 2.0 added to the output of whatever is passed into the min function. min function takes in radiance, 1.1 * radiance - 0.5. radiance is 1.0, then it does the math for 1.1 * radiance - 0.5, which will follow pemdas. that value is 0.6. min will then compare the two values: 1.0 and 0.6. 0.6 is min, then add to 2.0 which is 2.6. max will now compare 2.1 and 2.6. 2.6 is greater and is the max. so radiance is 2.6 now.

In [111]:
radiance = 1.0
radiance = max(2.1, 2.0 + min(radiance, 1.1 * radiance - 0.5))

In [112]:
print(radiance)

2.6

## Challenge 17: Why Not?

Why don't `max` and `min` return `None` when they are given no arguments?

because no values were passed in; no arguments to compare. need at least one. you can also set the default to None if nothing is passed in to avoid python programming error.

In [113]:
print(max())

TypeError: max expected at least 1 argument, got 0

In [114]:
print(min())

TypeError: min expected at least 1 argument, got 0

## Challenge 18: Counting Text

Below is a string of Robert Frost's "The Road Not Taken". This is a preview of what we will cover in week 2:

In [ ]:
poem = '''Two roads diverged in a yellow wood,
And sorry I could not travel both
And be one traveler, long I stood
And looked down one as far as I could
To where it bent in the undergrowth;

Then took the other, as just as fair,
And having perhaps the better claim,
Because it was grassy and wanted wear;
Though as for that the passing there
Had worn them really about the same,

And both that morning equally lay
In leaves no step had trodden black.
Oh, I kept the first for another day!
Yet knowing how way leads on to way,
I doubted if I should ever come back.

I shall be telling this with a sigh
Somewhere ages and ages hence:
Two roads diverged in a wood, and I—
I took the one less traveled by,
And that has made all the difference.'''

Using the `len` function and the string methods, answer the following questions:

How many characters (letters) are in the poem?

In [123]:
chars = len(poem)
print("Characters:", chars)

Characters: 657

How many words?

In [128]:
words = poem.split()
num_words = len(words)
print("Words:", num_words)

Words: 144

How many lines? (HINT: A line break is represented as  `\n`  )

In [120]:
lines = poem.split("\n")
num_lines = len(lines)
print("Lines:", num_lines)

Lines: 25

How many stanzas?

In [119]:
stanzas = poem.strip().split("\n\n")
num_stanzas = len(stanzas)
print("Stanzas:", num_stanzas)

Stanzas: 2

How many unique words? (HINT: look up what `set` does)

In [129]:
unique_words = set(words)
print("Unique Words:", len(unique_words))

Unique Words: 101

Remove commas and check the number of unique words again. Why is it different?

In [132]:
remove_commas = poem.replace(",", " ")
print("Removing commas:", remove_commas)

words_no_commas = set(remove_commas.split())
print("Words without commas:", words_no_commas)

unique_words_no_commas = set(words_no_commas)
print("Unique Words:", len(unique_words_no_commas))

Removing commas: Take this kiss upon the brow!
And  in parting from you now
Thus much let me avow —
You are not wrong  who deem
That my days have been a dream;
Yet if hope has flown away
In a night  or in a day
In a vision  or in none
Is it therefore the less gone?
All that we see or seem
Is but a dream within a dream.

I stand amid the roar
Of a surf-tormented shore
And I hold within my hand
Grains of the golden sand —
How few! yet how they creep
Through my fingers to the deep
While I weep — while I weep!
O God! Can I not grasp
Them with a tighter clasp?
O God! can I not save
One from the pitiless wave?
Is all that we see or seem
But a dream within a dream?
Words without commas: {'that', 'me', 'kiss', 'weep!', 'sand', 'roar', 'wrong', 'Them', 'I', 'yet', 'clasp?', 'golden', 'few!', 'with', 'are', 'less', 'Grains', 'dream?', 'Of', 'dream.', 'much', 'not', 'hand', 'has', 'And', 'or', 'day', 'Take', 'grasp', 'who', 'Yet', 'days', 'parting', 'in', 'therefore', 'away', 'stand', 'the', 'see', 'Can', 'but', 'creep', 'have', 'flown', '—', 'pitiless', 'avow', 'surf-tormented', 'we', 'you', 'dream', 'Thus', 'deep', 'amid', 'Is', 'my', 'to', 'One', 'Through', 'can', 'been', 'let', 'of', 'a', 'wave?', 'gone?', 'from', 'God!', 'seem', 'hold', 'fingers', 'it', 'While', 'if', 'In', 'vision', 'night', 'That', 'All', 'within', 'how', 'save', 'How', 'deem', 'they', 'while', 'tighter', 'But', 'none', 'now', 'all', 'You', 'hope', 'O', 'upon', 'brow!', 'weep', 'this', 'shore', 'dream;'}
Unique Words: 100

In [142]:
# What is going on in this cell?
from string import punctuation

from the string module you are importing the punctuation constant

In [143]:
punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [145]:
poem = poem.translate(str.maketrans("", "", punctuation))

print(poem)

Take this kiss upon the brow
And in parting from you now
Thus much let me avow —
You are not wrong who deem
That my days have been a dream
Yet if hope has flown away
In a night or in a day
In a vision or in none
Is it therefore the less gone
All that we see or seem
Is but a dream within a dream

I stand amid the roar
Of a surftormented shore
And I hold within my hand
Grains of the golden sand —
How few yet how they creep
Through my fingers to the deep
While I weep — while I weep
O God Can I not grasp
Them with a tighter clasp
O God can I not save
One from the pitiless wave
Is all that we see or seem
But a dream within a dream

Repeat this once more after converting everything to lowercase - what changed?

the poem is now in all lowercase

In [146]:
print(poem.lower())

take this kiss upon the brow
and in parting from you now
thus much let me avow —
you are not wrong who deem
that my days have been a dream
yet if hope has flown away
in a night or in a day
in a vision or in none
is it therefore the less gone
all that we see or seem
is but a dream within a dream

i stand amid the roar
of a surftormented shore
and i hold within my hand
grains of the golden sand —
how few yet how they creep
through my fingers to the deep
while i weep — while i weep
o god can i not grasp
them with a tighter clasp
o god can i not save
one from the pitiless wave
is all that we see or seem
but a dream within a dream